In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
print(pd.__version__)

1.1.3

In [3]:
database_path = 'Resources/Census_Data.sqlite'
engine = create_engine(f'sqlite:///{database_path}')

In [ ]:
# method 1
data = engine.execute("SELECT * FROM Census_Data")
for r in data:
    print(r)

In [5]:
# method 2
conn = engine.connect()
df = pd.read_sql("SELECT * FROM Census_Data", conn)
df.head()

,CityState,city,state,Population,White Population,Black Population,Native American Population,Asian Population,Hispanic Population,Education None,...,Employment Female Computer Engineering,Median Age,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng
0,"HOUSTON, TX",HOUSTON,TX,3061887,1775897,684416,11586,230549,1368287,54180,...,22637,33.439583,32.550000,34.363542,56206.50000,32239.52083,956.708333,178233.6842,29.775734,-95.414548
1,"CHICAGO, IL",CHICAGO,IL,2702091,1318869,843633,7554,161478,785374,32800,...,18209,34.526786,33.798214,35.141071,57735.96429,38730.83929,1119.928571,264739.2857,41.867838,-87.673440
2,"BROOKLYN, NY",BROOKLYN,NY,2595259,1126111,870465,8744,297890,509243,48934,...,14845,35.175676,33.367568,36.578378,51469.18919,28309.67568,1261.783784,605743.2432,40.652805,-73.956528
3,"LOS ANGELES, CA",LOS ANGELES,CA,2426413,1068202,324842,15949,273829,1292382,62684,...,12329,35.335484,34.535484,36.061290,47494.58333,30073.19355,1201.766667,557115.0000,34.042209,-118.303468
4,"MIAMI, FL",MIAMI,FL,1820704,1361009,363514,2250,33144,1162711,27137,...,6969,38.740741,37.120370,40.262963,51232.90741,25949.35185,1260.833333,243279.6296,25.760268,-80.298511

### SQLAlchemy uses Python classes as its primary means to communicate and make changes to SQL databases
##### This makes SQLAlchemy an ORM because it uses objects to map changes to SQL tables/databases

In [19]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float

In [20]:
# Create Rabbit closs
class Rabbit(Base):
    __tablename__ = "rabbit"
    id = Column(Integer, primary_key=True)
    name = Column(String(255))
    color = Column(String(255))
    age = Column(Integer)

In [21]:
# Create Owl class
class Owl(Base):
    __tablename__ = "owl"
    id = Column(Integer, primary_key=True)
    name = Column(String(255))
    color = Column(String(255))
    age = Column(Integer)

In [22]:
# Create an instance for each class
rabbit = Rabbit(name='mimi', color='white', age=2)
owl = Owl(name='cookie', color='brown', age=4)

In [23]:
# Create database connection
database_path = 'pets_cafe'
engine = create_engine(f'sqlite:///{database_path}')

In [26]:
# Create a metadata layer for the database
Base.metadata.create_all(engine)

# # Drop Table
# Base.metadata.drop_all(engine)

In [27]:
# Create session and add objects
from sqlalchemy.orm import Session
session = Session(bind=engine)
session.add(rabbit)
session.add(owl)
session.commit() # Only needed when write
session.close()

In [28]:
rabbit_ls = session.query(Rabbit)
for rab in rabbit_ls:
    print(rab.name)

mimi

In [52]:
# Create Student class
class Student():
    def __init__(self, name, subject, language):
        self.name = name
        self.subject = subject
        self.language = language   


# Create Robot class
class Robot():
    def __init__(self, name, color):
        self.name = "Robot " + name
        self.color = color
        
    def greet_student(self, student):
        print(f'Hi {student.name}, my name is {self.name}. I am your tutor.')
        print(f'I can speak {student.language} too!')

In [53]:
robot_tutor = Robot('Thor', 'Blue')
student_1 = Student('batman', 'math', 'French')
student_1.name

'batman'

In [54]:
robot_tutor.greet_student(student_1)

Hi batman, my name is Robot Thor. I am your tutor.
I can speak French too!